* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    background-color: #ffac72;
}

/*form*/
form {
    padding: 20px;
    margin: 36px auto;
    border: 3px solid #ff3c41;
    background-color: aliceblue;
}

.tables-fields {
    display: flex;
    gap: 4px;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 24px auto 40px;
}

legend {
    font-size: 20px;
}

fieldset {
    padding: 20px 12px 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
}

.radio-container {
    display: flex;
    justify-content: space-between;
}

.radio-box {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.price-container {
    display: flex;
    flex-direction: column;
    max-width: 180px;
}

datalist {
    display: flex;
    justify-content: space-between;
}

select {
    width: 150px;
}

.tables-fields .checkbox-container {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

/*buttons*/
button {
    width: 64px;
    height: 30px;
    background-color: #ffac72;
    color: white;
    border-bottom: 2px solid #ff3c41;
    border-radius: 4px;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 12px 0;
}

/*a return*/
.return-container {
    display: flex;
    justify-content: center;
    margin: 24px 0 12px;
}

#return-to-main-page {
    font-size: 18px;
    color: black;
}