* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #ffac72;
}

form {
    padding: 20px;
    margin: 36px auto;
    border: 3px solid #ff3c41;
    background-color: aliceblue;
    width: 500px;
}

fieldset {
    padding: 12px;
}

.form-group {
    padding: 4px 0;
    display: flex;
    gap: 10px;
}

.radio-container {
    display: flex;
    gap: 8px;
    margin-bottom: 6px;
}

.price-container{
    display: flex;
    flex-direction: column;
    max-width: 220px;
}
datalist{
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #ffac72;
    color: white;
    padding: 8px 16px;
    border-bottom: 2px solid #ff3c41;
    border-radius: 4px;
    margin: 16px 16px 8px 0;
    cursor: pointer;
}

.return-container {
    align-items: center;
    margin: 12px 0;
}

#return-to-main-page {
    font-size: 18px;
    color: black;
}